<!-- <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/css-toggle-switch@latest/dist/toggle-switch.css" />
<label class="switch-light switch-candy" onclick="">
  <input type="checkbox">

  <h1>
    Activate
  </h1>

  <span>
    <span (click)="onOff()">Off</span>
    <span (click)="onOn()">On</span>
    <a></a>
  </span>
</label>

<button (click)="onExit()" class="log">Log Out</button>
<button (click)="onClick()" class="add">Add Product</button> -->
<html>
<head>
</head>
<body>
  <!-- <div *ngIf="state;else other_content">
    <ui-switch (change)="onChange($event)" size="large" [checked]="true"></ui-switch>
  </div>
  <ng-template #other_content>
    <ui-switch (change)="onChange($event)" size="large" [checked]="false"></ui-switch>
  </ng-template> -->
      <div class="slide-five margin-top">
        <input [(ngModel)]="checkboxValue" (change)="clicked()" type="checkbox"  id="slide-five" />
        <label for="slide-five"></label>
      </div>

  <div *ngIf="checked;else other_content">
    <img src="../../assets/images/VW-12.png" class="myImage">
  </div>
  <ng-template #other_content>
    <img src="../../assets/images/VW-13.png" class="myImage1">
    <img src="../../assets/images/VW-14.png" class="myImage2">
  </ng-template>
  <!-- <div class="slide-five margin-top">
  <input type="checkbox" id="slide-five" />
  <label for="slide-five"></label>
</div> -->

  <img src="../../assets/images/VW-09.png" class="powerImage">
  <button (click)="onExit()" class="log">LOGOUT</button>
  <button (click)="onClick()" class="add">Add Product</button>

</body>
</html>
