button{
  width:60px;
  height:40px;
  border-radius: 5px;
  background-color: #4B8A8D;
  color: #FFFFFF;
}
.add{
  position: absolute;
  left:45%;
  top:50%;
}
.log{
  position: absolute;
  left:85%;
  top:5%;
}
