.header{
  text-align: center;
  background-color: #429BE8;
  color:#FFFFFF;
  position: relative;
  top:-22px;
  padding:15px;
  margin:0;
}
body{
  margin: 0;
  display: block;
}
.footer{
  position: relative;
  left:40%;
  top:60%;
  font :
}
