<div class="container">

  <div class="row text-center">

    <div class="col-sm-12">
      <form [formGroup]='stateForm' autocomplete="new-password" novalidate>
        <div class="input-group mb-3">
          <input id='search' placeholder="Search for a Product" formControlName='search' (keyup)="onKey($event)" (click)='openDropDown()' autocomplete="off"
            class='form-control' type='text'>
          <div class="input-group-append">
            <button type="button" class="btn btn-success" (click)="onClick()">Add Product</button>
            <button type="button" class="btn btn-primary" (click)="onNext()">Next</button>
          </div>
        </div>
      </form>
      <div clickOutside (clickOutside)="closeDropDown()">
        <div *ngIf='showDropDown' class='search-drop-down'>
          <div class="list-group">
            <a class="list-group-item list-group-item-action" (click)="selectValue(s)" *ngFor="let s of states | searchFilter: getSearchValue()">{{s}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-sm-6 col-md-5">

      <div class="card">
        <div class="card-header">Product Description</div>
        <div class="card-body text-center">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Product Name: {{pdt?.name}}</li>
            <li class="list-group-item">Product Details: {{pdt?.details}}</li>
            <li class="list-group-item">Product Category: {{pdt?.category}}</li>
          </ul>
          <button class="btn btn-primary" (click)="onRegister()">Add</button>
        </div>
      </div>
    </div>
    <div class="d-sm-none d-md-block col-md-2"></div>

    <div class="col-sm-6 col-md-5 float-right">
      <div class="card">
        <div class="card-header">Registered Products</div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item text-center" *ngFor="let state of rpdt">
                {{state.name}}
                <button class="btn btn-danger" (click)="onRemove(state)">Remove</button>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>
