 .card {
    text-align: center;
    width:400px;
    margin:auto;
    position: absolute;
    top:15%;
    left:35%;
}
/* button{
  width:60px;
  height:40px;
  border-radius: 5px;
  background-color: #4B8A8D;
  color: #FFFFFF;
}  */
html {
  height: 100%;
  background-color: #00002E;

}
body {
  min-height: 100%;
  background-color: #00002E;
}
input
{
  /* box-shadow:inset 0 0 5px 5px #888; */
 box-shadow: 1px 2px #B0B0B0;
}

.myImage{
  position: absolute;
  top:87%;
  left:83%;
}
.form-control{
  border-radius: 25px;
  height: 55px;
  padding-left: 15px;
}
.userImage{
  position: absolute;
  left:7%;
  width: 40px;
  top:26%;
}
.passImage{
  position: absolute;
  left:7%;
  width: 40px;
  top:45%;
}
.mySignIn{
  background-color: #00002E;
  color:#FF7B01;
  width:350px;
  height: 50px;
  border-radius: 25px;
}
